[submodule "puppet/modules/ruby"]
	path = puppet/modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "puppet/modules/rbenv"]
	path = puppet/modules/rbenv
	url = https://github.com/justindowning/puppet-rbenv.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/rubybuild"]
	path = puppet/modules/rubybuild
	url = git@github.com:benben/puppet-rubybuild.git
[submodule "puppet/modules/gcc"]
	path = puppet/modules/gcc
	url = git@github.com:puppetlabs/puppetlabs-gcc.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git@github.com:puppetlabs/puppetlabs-git.git
